.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.headingTags {
  font-weight: 600;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--white-color);
}

.profileDropdown :global(.dropdown-toggle::after) {
  display: none;
}
